
@{
    ViewBag.Title = "Module6ChangeLab";
}

<h2>Module6ChangeLab</h2>

<form>
    <div class="row">
        <div class="col-md-4">
            Enter a value in dollars and cents: <input type="number" name="moneyInput" step=".01"/>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Calculate" class="btn btn-success" />
        </div>
    </div>
</form>

@if (ViewBag.ChangeAnswer != null)
{
    <h4>
        @ViewBag.ChangeAnswer
    </h4>
}