
@{
    ViewBag.Title = "Module6InterestCalc";
}

<h2>Module6InterestCalc</h2>

<form>
    <div class="row">
        <div class="col-md-4">
            Enter a beginning balance: <input type="number" name="interestBalanceInput" />
        </div>
        <div class="col-md-2">
            Enter an interest rate: <input type="number" name="interestRateInput" step=".1" />
        </div>
        <div class="col-md-2">
            Enter a number of years: <input type="number" name="interestYears" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Calculate" class="btn btn-success" />
        </div>
    </div>
</form>

@if (ViewBag.InterestAnswer != null)
{
    <h4>
        @ViewBag.InterestAnswer
    </h4>
}
