
@{
    ViewBag.Title = "Module 6 Max-Min-Average";
}

<h2>@ViewBag.Title</h2>

<form>
    <div class="row">
        <div class="col-md-2">
            <input type="number" name="one"/>
        </div>
        <div class="col-md-2">
            <input type="number" name="two"/>
        </div>
        <div class="col-md-2">
            <input type="number" name="three"/>
        </div>
        <div class="col-md-2">
            <input type="number" name="four"/>
        </div>
        <div class="col-md-2">
            <input type="number" name="five"/>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Calculate" class="btn btn-success" />
        </div>
    </div>
</form>

@if (ViewBag.AverageAnswer != null)
{
    <h2>@ViewBag.AverageAnswer</h2>
}