
@{
    ViewBag.Title = "Module6WaterLab";
}

<h2>Module6WaterLab</h2>

<form method="get">
    <div class="row">
        <div class="col-md-4">
            Please enter an amount of water: <input type="number" name="waterInput" />
        </div>
        <div class="col-md-2">
            <input type="submit" value="Calculate" class="btn btn-success" />
        </div>
    </div>
</form>

@if (ViewBag.WaterAnswer != null)
{
    <h2>@ViewBag.WaterAnswer</h2>
}