@{
    ViewBag.Title = "Home Page";
}
<main>

    <aside id="rightColumn">
        <!-- An aside holds content that is indirectly related to the main content on the page -->
        <h2>
            Key Terms
        </h2>
        <p>
            This is an area where you can list key terms and important notes from FED1.
        </p>
        <!-- TODO Add notes and key terms here -->
    </aside>

    <section id="leftColumn">
        <!-- Sections are generic parts of a page or block of content. They are used for the
            thematic grouping of content.-->
        <h1>
            Web Sandbox: Let's Build some Content
        </h1>
        <article>
            <h2>
                Front End Development
            </h2>
            <p>
                Front end development is the tier of full-stack that deals witht the visual elements of
                an application that a user interacts with. The languages used in front-end are HTML, CSS
                and javaScript. These are the only languages that web browsers understand and can render
                to a browser window.
            </p>
            <section>
                <h3>
                    HTML
                </h3>
                <p>
                    Hypertext Markup Language (HTML) is used to define the structure of the content of a web page. It is arguably the
                    most important front-end language as it not only provides the content but it also gives CSS and javaScript
                    something to target and modify.
                </p>
            </section>
            <section>
                <h3>
                    CSS
                </h3>
                <p>
                    Cascading Style Sheets (CSS) is used for the formatting and layout of page content. It was introduced as a
                    way to seperate the concerns of markup (HTML) and formatting (CSS) into seperate files.
                </p>
            </section>
            <section>
                <h3>
                    JavaScript
                </h3>
                <p>
                    JavaScript (js) allows us to make web pages more interactive. It is often used to add form validation and to
                    perform programming logic in the front end in addition to reacting to page events.
                </p>
            </section>
        </article>
        <article>
            <h2>
                Lorem Ipsum
            </h2>
            <p>
                Lorem Ipsum is sample text that is often used in the mockup phase of design before the final copy has
                been written. It is traditionally written in Latin but there are now many online resources to generate
                themed text.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elit lacus, rutrum tempus ornare eu,
                ullamcorper vestibulum erat. Pellentesque ut diam et libero auctor feugiat. Sed suscipit leo et varius consectetur.
                Aenean cursus justo vitae auctor maximus. Donec sollicitudin mattis ornare. Donec lacus tellus, rhoncus quis blandit
                ut, tristique sed arcu. Phasellus vitae ligula hendrerit, semper orci a, rutrum diam. Curabitur est urna, rhoncus nec
                nisl quis, rhoncus rutrum metus. Nunc quam dolor, gravida non commodo non, mollis in urna. Nunc lectus nibh, eleifend
                a velit vel, sagittis dapibus odio. Praesent efficitur gravida ligula et volutpat. Integer justo lorem, euismod in egestas
                ac, euismod nec velit. Duis id feugiat leo.
            </p>
            <p>
                You must cause the modified files to carry prominent notices stating that it becomes identical to an alternative,
                stable online copy which is a "commercial item" as defined in and to any other license you select, with the `Work'
                referring to any such work a brief summary of the Work or Derivative Works in Source or Object form. Grant of License
                From Licensor. Licensor hereby grants Recipient a non-exclusive, worldwide, royalty-free patent license shall apply to
                those performance claims and warranties are such Commercial Contributor to the Program in a manner which does not grant
                any rights to work written entirely by you; rather, the intent is to make the Modified Version.
            </p>
            <p>
                Permissions for Redistribution of the Licensed Program first released under this Agreement as released at the time of
                its terms and conditions of this license requires that the original Licensed Product. Create Derivative Works as
                products under any applicable law. Interpreter' A program or other representation of computer software code which
                is freely accessible, which conforms with the Source Code. You may choose to use the trade names, trademarks, service
                marks, logos or trade names in a commercial product offering. The obligations in this License published by Apple.
            </p>
            <p>
                No one other than this License, without any notice. In the event that the distribution of a larger (possibly commercial)
                programs as part of the Package constitutes direct or indirect, to cause the direction or management of such Contributor,
                if any, to grant the rights granted by Apple or such Contributor by reason of any Contributor be liable to you shall
                promptly modify the terms of this license is required to allow You to comply with any of the Agreement under which
                modified versions of applications that include the names do not apply to the page in any of its release under this
                License to Modifications From Contributor. PSF's License Agreement does not create potential liability for damages,
                including any direct, indirect, special, incidental and consequential damages, such as lost profits; states that source
                code must retain the above copyright notice, this list of all Your Externally Deployed Modifications must be distributed
                under the LPPL license.
            </p>
            <p>
                If a Derived Work without restriction, provided the result does not normally print such an event, the Recipient shall
                meet all of the Program by such Participant under Sections 9(a) or 9(b) above, all end user license agreements of most
                software companies keep you at the time the Contribution causes such combination to be updated versions of your choice
                that may contain terms different from the Work. Any procedure that produces a Derived Work under any applicable
                law — for example, the production of a part or the like. The name of author Gnomovision comes with ABSOLUTELY NO WARRANTY;
                for details about the license to make, use, sell, offer for sale, have made, use, offer to sell, import and otherwise transfer
                the Work, you should immediately provide, within the Work, you should immediately provide, within the Source of the Agreement
                Steward reserves the right to change the name of the following: 2.1 Unmodified Code. You may do so if it has not been modified,
                or has been certified as open source. It has also been designated as GPL compatible by the use or conduct Reproduction and
                Other Exploitation of the Northern District of California, and You will not be used to endorse or promote products derived
                from the rights granted hereunder will terminate: (a) automatically without notice from Participant terminate prospectively,
                unless if within 60 days notice from Respondent (the "Notice Period") unless within that District with respect to a third
                party. Description of Modifications.
            </p>
        </article>
    </section>
    <div class="clear"></div>
</main>