@{
    ViewBag.Title = "Home Page";
}

<!-- banner -->
<div class="banner" id="home">
    <div class="layer">
        <div class="container">
            <div class="banner-text-w3pvt">
                <!-- banner slider-->
                <div class="csslider infinity" id="slider1">
                    <input type="radio" name="slides" checked="checked" id="slides_1" />
                    <input type="radio" name="slides" id="slides_2" />
                    <input type="radio" name="slides" id="slides_3" />
                    <ul class="banner_slide_bg">
                        <li>
                            <div class="w3ls_banner_txt">
                                <h2 class="b-w3ltxt text-capitalize mt-md-4">Board <span>Games</span> </h2>
                                <h4 class="b-w3ltxt text-capitalize">The best board games in town</h4>
                                <p class="w3ls_pvt-title my-3">
                                    Our library of games is the best in the metropolitan area. Our staff knows what they are doing, and can recommend games to you based on just a few questions. Still unsure? We can open up the board game you're looking at to show you what you are buying.
                                </p>
                                <a href="services.html" class="btn btn-banner my-sm-3 mr-2">Read More</a>
                                <a href="contact.html" class="btn btn-banner1 my-sm-3">Get Started</a>
                            </div>
                        </li>
                        <li>
                            <div class="w3ls_banner_txt">
                                <h3 class="b-w3ltxt text-capitalize mt-md-4">Tournament <span>Magic</span> </h3>
                                <h4 class="b-w3ltxt text-capitalize">Every Friday Night</h4>
                                <p class="w3ls_pvt-title my-3">
                                    Standard every Friday, with other rotating formats depending on the week. No matter if you like limited, Modern, or Commander, there is going to be a game for you.
                                </p>
                                <a href="services.html" class="btn btn-banner my-sm-3 mr-2">Read More</a>
                                <a href="contact.html" class="btn btn-banner1 my-sm-3">Get Started</a>
                            </div>
                        </li>
                        <li>
                            <div class="w3ls_banner_txt">
                                <h3 class="b-w3ltxt text-capitalize mt-md-4">Tabletop <span>Supplies</span> </h3>
                                <h4 class="b-w3ltxt text-capitalize">All the dice and sourcebooks you could ever want.</h4>
                                <p class="w3ls_pvt-title my-3">
                                    We have Fifth Edition. We have Pathfinder. We have Warhammer. If there is a major board game publication that you want that we don't have, ask us about it for a discount when we order it for you.
                                </p>
                                <a href="services.html" class="btn btn-banner my-sm-3 mr-2">Read More</a>
                                <a href="contact.html" class="btn btn-banner1 my-sm-3">Get Started</a>
                            </div>
                        </li>
                    </ul>
                    <div class="navigation">
                        <div>
                            <label for="slides_1"></label>
                            <label for="slides_2"></label>
                            <label for="slides_3"></label>
                        </div>
                    </div>
                </div>
                <!-- //banner slider-->
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- about -->
<section class="banner-bottom pt-sm-5 pt-4 mt-sm-0 mt-2">
    <div class="container">
        <div class="row bottom_grids text-center mt-lg-5 mt-3">
            <div class="col-md-4 grid1 mb-sm-5 mb-4">
                <span class="fa fa-fort-awesome"></span>
                <h3 class="my-sm-3 mt-3 mb-2">Terrain</h3>
                <p class=""> Everyone likes being able to visualize the game they are playing, and nothing helps that more then our terrain.</p>
            </div>
            <div class="col-md-4 grid2 mb-sm-5 mb-4">
                <span class="fa fa-key"></span>
                <h3 class="my-sm-3 mt-3 mb-2">Keys to Gaming</h3>
                <p class=""> Gaming is, above everything else, a social exercise. We can talk through why your game night isn't going the way you want.</p>
            </div>
            <div class="col-md-4 grid3 mb-sm-5 mb-4">
                <span class="fa fa-tasks"></span>
                <h3 class="my-sm-3 mt-3 mb-2">Nerd-centric Cookbooks</h3>
                <p class=""> That long game starting to slow down because everyone is hungary? We can help with that. </p>
            </div>
        </div>
    </div>
</section>
<!-- //about -->
<!-- advantages and details -->
<section class="advantages pt-lg-5 pt-3">
    <div class="container pb-md-5">
        <div class="row advantages_grids">
            <div class="col-lg-6">
                <img src="~/Content/images/about.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 mt-lg-0 mt-4">
                <h3 class="mt-sm-3">Just a family-owned business run by people who love board games.</h3>
                <p class="my-sm-4 mt-2 mb-4">
                    There is nothing that our family enjoys more then spending some time around the table, yelling about how to interpret the rules of a game. All joking aside, we decided to try and help other families connect the way we do. It has brought us more joy and fulfillment as we help bring people together over things that they love.
                </p>
            </div>
            <div class="row mt-sm-5 mx-0">
                <div class="col-lg-3 col-6 grid4 mb-5">
                    <span class="fa fa-print"></span>
                    <h3 class="mt-sm-3 mt-2">Electronic Product</h3>
                    <p class=""> We have digital copies of thousands of products that could be downloaded directly to your PC, laptop, or mobile device.</p>
                </div>
                <div class="col-lg-3 col-6 grid5 mb-5">
                    <span class="fa fa-newspaper-o"></span>
                    <h3 class="mt-sm-3 mt-2">Handouts</h3>
                    <p class=""> Need handouts for your TTRPG? We have a host of options that we can print right here in the store for you.</p>
                </div>
                <div class="col-lg-3 col-6 grid6 mb-5">
                    <span class="fa fa-unlock"></span>
                    <h3 class="mt-sm-3 mt-2">Security</h3>
                    <p class=""> We have cameras so if someone lifts your magic cards we can track them down.</p>
                </div>
                <div class="col-lg-3 col-6 grid7 mb-5">
                    <span class="fa fa-product-hunt"></span>
                    <h3 class="mt-sm-3 mt-2">Parking</h3>
                    <p class=""> Easy, convient parking for customers and gamers alike. Also access to local bus route makes it easy to come over and say hi!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //advantages and details -->
<!-- statistics -->
<section class="statistics py-5">
    <div class="container py-lg-5 py-3">
        <h3 class="heading mb-md-5 mb-4">Latest <strong>statistical information</strong></h3>
        <div class="row">
            <div class="col-lg-4">
                <p class="mb-4">
                    You can listen to testimonials all day here- but I know some of you want the hard numbers. Board gaming helps people with time management, math, social skills, and so much more.
                </p>
            </div>
            <div class="col-lg-4 my-lg-0 my-4">
                <img src="~/Content/images/stats1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-4">
                <div class="progress-one">
                    <h4 class="progress-tittle">Increase in time management</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-one my-lg-4">
                    <h4 class="progress-tittle">Increase in social skills</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-one">
                    <h4 class="progress-tittle">Increase in Creativity</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-one my-lg-4">
                    <h4 class="progress-tittle">Increase in Math scores</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="progress-one">
                    <h4 class="progress-tittle">Increase in happieness</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //statistics -->

<!-- stats section -->
<section class="middlesection-w3pvt">
    <div class="layer py-5">
        <div class="container py-lg-5 py-3">
            <h3 class="heading mb-md-5 mb-4">Our Shop <strong>by the numbers</strong></h3>
            <div class="row">
                <div class="col-lg-8 left-build-wthree aboutright-w3pvtwthree text-lg-left text-center">
                    <div class="row">
                        <div class="col-sm-3 col-6 w3layouts_stats_left w3_counter_grid">
                            <span class="fa fa-credit-card"></span>
                            <p class="counter">100</p>
                            <p class="para-text-w3ls">Percent of Credit cards taken</p>
                        </div>
                        <div class="col-sm-3 col-6 w3layouts_stats_left w3_counter_grid2">
                            <span class="fa fa-users"></span>
                            <p class="counter">1900</p>
                            <p class="para-text-w3ls">Customers this year</p>
                        </div>
                        <div class="col-sm-3 col-6 w3layouts_stats_left w3_counter_grid1 mt-md-0 mt-4">
                            <span class="fa fa-cubes"></span>
                            <p class="counter">874</p>
                            <p class="para-text-w3ls">Different in-store products</p>
                        </div>
                        <div class="col-sm-3 col-6 w3layouts_stats_left w3_counter_grid1 mt-md-0 mt-4">
                            <span class="fa fa-users"></span>
                            <p class="counter">8</p>
                            <p class="para-text-w3ls">Employees</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 text-lg-left text-stat text-center mt-lg-0 mt-4">
                    <h4 class=""> Vestibulum ante ipsum int primis faucibus orci luctus et ultrices posue elit</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //stats section -->
